header{
background-color: rgb(46, 43, 226);
font-size: 20px;
padding: 10px;
display: flex;
justify-content: space-between;
justify-content: space-around;
flex-direction: row;
}
header a{
    color: antiquewhite;
}
nav{
    width: 30%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-wrap:nowrap;
}
.main{
    background-image: url("OIP.webp");
    background-size: cover;
    height: 100vh;
}
h1{
    font-size: 40px;
    justify-content: center;
}
section{
    justify-content: center;
    text-align: center;
}
.parent{
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.child{

border: palevioletred 2px dotted ;
border-radius: 20px;
padding: 10px;
text-align: center;
width: 30%;
transition: transform 0.3s ease bachground-color0.3s ease;
}
.child:hover{
    background-color: aqua;
    width: 50%;
    height: 50%;
    box-shadow: 30px;

}
.title{
    display: flex;
    justify-content: center;
    font-weight: 800;
    margin-bottom: 30px;
    font-size: 2.2cm;
}
.sec2{
    text-align: center;
}
.sec3{
    text-align: center;
}
.child{
justify-content: space-between;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    
